<main class="content">
  <div class="container">
    <div class="caption">
      <h1 class="caption__title">Цветные пластиковые окна</h1>
      <div class="caption__desc">Ламинируем профиль ПВХ для предания окнам цвета и фактуры дерева</div>
    </div>
  </div>
  <div class="container">
  <div class="content__wrapper">
      <aside class="recomendetion">
        <ul class="recomendetion__items">
          <li class="recomendetion__title">Рекомендуем также</li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">Edinburgh by REHAU</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">Estet by REHAU</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">REHAU DELIGHT-Design</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">REHAU BRILLANT-Design</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">REHAU Geneo</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">Цветные окна</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">Стеклопакеты</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">Остекление балконов и лоджий</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">Отделка и утепление балконов</a></li>
          <li class="recomendetion__item"><a href="#" class="recomendetion__href">Балконные блоки</a></li>
        </ul>
      </aside>
      <article class="product">
        <div class="product__info">
          <h2 class="product__title">Создайте выразительный интерьер с цветными окнами REHAU</h2>
          <div class="product__info-wrap">
            <figure class="product__sign">
              <img src="img/product/1.jpg" alt="Окно с ирландским брусом" class="product__img">
              <figcaption class="product__img-caption">Ирландский дуб</figcaption>
            </figure>
            <div class="product__inner">
              <ul class="product__items">
                <li class="product__item"><span class="product__item-text">Точная визуализация натурального дерева.</span></li>
                <li class="product__item"><span class="product__item-text">Яркие нестандартные цвета в тон или в дополнение интерьера.</span></li>
                <li class="product__item"><span class="product__item-text">Разные фактуры для Ваших пластиковых окон.</span></li>
              </ul>
              <div class="select-color">
                <div class="select-color__text">Подберите цвет для своих окон:</div>
                <div class="select-color__block">
                  <input type="checkbox" class="select-color__check" name="" id="color1"  value="1">
                  <label class="select-color__label select-color_c1" tabIndex="0"  for="color1"></label>
                  <input type="checkbox" class="select-color__check" name="" id="color2"  value="2">
                  <label class="select-color__label select-color_c2" tabIndex="0"  for="color2"></label>
                  <input type="checkbox" class="select-color__check" name="" id="color3"  value="3">
                  <label class="select-color__label select-color_c3" tabIndex="0"  for="color3"></label>
                  <input type="checkbox" class="select-color__check" name="" id="color4"  value="4">
                  <label class="select-color__label select-color_c4" tabIndex="0"  for="color4"></label>
                  <input type="checkbox" class="select-color__check" name="" id="color5"  value="5">
                  <label class="select-color__label select-color_c5" tabIndex="0"  for="color5"></label>
                  <input type="checkbox" class="select-color__check" name="" id="color6"  value="6">
                  <label class="select-color__label select-color_c6" tabIndex="0"  for="color6"></label>
                  <input type="checkbox" class="select-color__check" name="" id="color7"  value="7">
                  <label class="select-color__label select-color_c7"  tabIndex="0" for="color7"></label>
                </div>
              </div>
              <div class="product__more">Больше 50 вариантов  цветов и фактур спрашивайте у наших замерщиков</div>
              <button type="button" class="button product__button" name="button">Рассчитать со скидкой 70%</button>
              <a href="#" class="product__href">или отправить заявку и получить консультацию</a>
            </div>
          </div>
        </div>

        <div class="product-desc">
          <h3 class="product-desc__title">Зачем использовать ламинацию</h3>
          <ul class="product-desc__items product-desc__items-type1">
            <li class="product-desc__item_img1">Чтобы придать внешнему виду окна оригинальную выразительность, специалисты применяют ламинацию – приём, при помощи которого можно декорировать своё жилье с учетом самых современных веяний дизайнерского искусства.</li>
            <li class="product-desc__item_img2">При помощи ламинации оконного профиля можно, например, со всей точностью воспроизвести оттенки и структуру древесины: при этом обеспечивается полная визуализация натурального дерева, точно имитирующая расположение волокон. Помимо имитации деревянных поверхностей, применяют пленку самых разных цветов и фактур.</li>
          </ul>
          <h3 class="product-desc__title">Как окна становятся цветными?</h3>
          <ol class="product-desc__items product-desc__items-type2">
            <li class="product-desc__item">Собственно, процесс ламинации профиля ПВХ состоит в процедуре нанесения на его поверхность декоративных высокопрочных плёнок с применением специального клея и ламинирующих установок</li>
            <li class="product-desc__item">Плёнку прочно соединяют с профилем. При этом внешней стороне пленки свойственна высокая стойкость к повреждениям. В частности, цветное пластиковое окно, прошедшее процесс ламинации, стойко переносит температурные колебания в диапазоне от -80°С до +130°С, оно исключительно стойко к солнечному излучению.</li>
            <li class="product-desc__item">Пластиковые окна, прошедшие процесс ламинации профилей, имеют срок службы гораздо больший, чем не ламинированные окна. В сравнении с окнами из массива дерева, они значительно дешевле.</li>
          </ol>
        </div>
        <div class="product__review">
          <div class="product__review-caption">
            <h2 class="product__review-title">Отзывы о цветных пластиковых окнах</h2>
            <a href="#" class="product__review-href">посмотреть еще отзывы</a>
          </div>
          <div class="review">
            <article class="review__content">
              <div class="review__name">Алена,</div>
              <div class="review__dop-info">Договор № 09.10.33512.13</div>
              <time class="review__data" pubdate datetime="2013-12-13">Дата размещения: 13 декабря 2013 года</time>
              <div class="review__reyt review__reyt_3"></div>
              <div class="review__text">Поставили нам окна во всей квартире.Все очень понравилось)))компания на 5+.Все очень любезные,гибкая система скидок!!!буду советовать всем!!!Сервис был на высоте,во-первых с поставкой получилось быстрее,во-вторых два раза приезжал замерщик Алексей,ему большое спасибо...</div>
              <a href="#" class="review__href">прочитать полностью</a>
            </article>
            <button class="button review__button" type="button" name="button">оставить отзыв</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
