<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo header__logo">
        <a href="/index.html" class="logo__href">
          <img src="img/logo.png" class="logo__img" alt="logo">
        </a>
      </div>
      <div class="calc-value header__calc-value">
        <a href="#" class="calc-value__href">Рассчитать стоимость</a>
      </div>
      <div class="header__info">
        <div class="work-time">с 9 до 21 без выходных</div>
        <a href="tel:+7 495 534-65-33 " class="href-phone">+7 495 534-65-33 </a>
      </div>
    </div>
      <nav class="nav">
        <ul class="nav__items">
          <li class="nav__item"><a href="#" class="nav__href nav__href_active">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__href">Цены</a></li>
          <li class="nav__item"><a href="#" class="nav__href">Услуги и продукты</a></li>
          <li class="nav__item"><a href="#" class="nav__href">Акции</a></li>
          <li class="nav__item"><a href="#" class="nav__href">Контакты</a></li>
        </ul>
      </nav>
  </div>
</header>
