.content {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.caption {
  color: #4b4b4b;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 33px;

  &__title {
    font-size: 64px;
  }
}

.recomendetion {
  background-color: #fff;
  width: 240px;
  height: 100%;
  padding: 25px;
  color: #8a8a8a;
  font-size: 16px;

  &__title {
    font-size: 20px;
    color: #4b4b4b;
    margin-bottom: 26px;
    font-weight: 400;
  }

  &__items {
    width: 192px;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__href {
    text-decoration: underline;
    transition: color 0.7s;

    &:hover {
      color: #eb5825;
    }
  }
}

.product {
  width: 877px;

  &__info {
    padding: 30px 25px;
    background-color: #fff;
    margin-bottom: 25px;
  }

  &__info-wrap {
    display: flex;
  }

  &__title {
    margin-bottom: 37px;
  }

  &__sign {
    width: 300px;
    text-align: center;
  }

  &__img-caption {
    color: #a6a6a6;
  }

  &__img {
    margin: 0 auto 43px;
    display: block;
  }

  &__items {
    font-size: 14px;
    margin-bottom: 40px;
  }

  &__item {
    list-style-type: disc;
    color: #eb5825;

    &-text {
      color: #484848;
    }
  }

  &__more {
    margin-bottom: 46px;
    font-size: 14px;
  }

  &__button {
    padding: 13px 41px;
    margin-bottom: 15px;
  }

  &__href {
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    transition: color 1s;
    &:hover{
      color: black;
    }
  }
  &__review{
    margin-bottom: 95px;
  }
  &__review-caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
  &__review-title{
    font-size: 26px;
    font-weight: 400;
  }
  &__review-href{
    color: #eb5825;
    font-size: 16px;
    font-weight: 400;
    transition: all .8s;
    &:hover{
      opacity: .6;
    }
  }
}

.select-color {
  &__text {
    font-size: 20px;
    margin-bottom: 22px;
  }

  &__block {
    margin-bottom: 28px;
  }

  &__check {
    display: none;

    &:checked+.select-color__label::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 488.878 488.878" style="enable-background:new 0 0 20 488.878;" xml:space="preserve" width="40px" height="40px"><g><polygon points="143.294,340.058 50.837,247.602 0,298.439 122.009,420.447 122.149,420.306 144.423,442.58 488.878,98.123 437.055,46.298 " fill="#FFFFFF"/></g></svg>');
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__label {
    width: 56px;
    height: 56px;
    background-color: red;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background: url("/img/sprite_select.png") no-repeat;
    position: relative;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
  @for $i from 1 through 8 {
    $length: -70px*$i;

    .select-color_c#{$i} {
      background-position: $length 0;
    }
    /*хак из-за плохого макета*/
    @if ($i==7) {
      .select-color_c#{$i} {
        background-position: -140px 0;
      }
    }
  }
}

.button {
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  background-color: #eb5825;
  &:hover{
    box-shadow: inset 0 0 8px 0px #5d4e4a;
  }
}

.product-desc {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  padding: 36px 55px 51px 28px;
  margin-bottom: 40px;
  &__title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  &__items {
    margin-bottom: 15px;
  }

  &__items-type1 {
    padding-left: 0;
  }

  &__item_img1 {
    margin-bottom: 25px;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="57" height="57" viewBox="0 0 57 57"><defs><path id="5ld3a" d="M722.06 1126.01a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm-36.03 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm3 2.99a1 1 0 0 1 1 .99 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm6 0a1 1 0 0 1 1 .99 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm-3 2.98a1 1 0 0 1 1 1 1 1 0 0 1-1 .99 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm6 0a1 1 0 0 1 1.01 1 1 1 0 0 1-1 .99 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm3.01 2.98a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm6 0a1 1 0 0 1 1 1 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm3-2.98a1 1 0 0 1 1 1 1 1 0 0 1-1 .99 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm-6 5.97a1 1 0 0 1 1 1 1 1 0 0 1-1 .99 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm9.01-8.95a1 1 0 0 1 1 .99 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm6 0a1 1 0 0 1 1 .99 1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm-3 2.98a1 1 0 0 1 1 1 1 1 0 0 1-1 .99 1 1 0 0 1-1-1 1 1 0 0 1 1-1zm6.36 1.92l-.07.04 9.66 5.45-27.5 15.61-27.5-15.6 9.66-5.46-9.66-5.49 9.66-5.45-9.66-5.49 27.5-15.52 27.5 15.52-9.67 5.49 9.67 5.45-9.4 5.34c-.07.04-.12.08-.2.1zm-41.37-16.38l23.46 13.31 15.81-8.97 7.64-4.34-23.45-13.24zm0 10.94l1.36.77a.98.98 0 0 1 1.63.76c0 .05-.03.1-.03.14l10.06 5.72c.06-.5.46-.89.98-.89a1 1 0 0 1 1 1c0 .32-.17.6-.4.78l2.2 1.25c.06-.02.13-.04.2-.04.45 0 .8.29.94.69l5.52 3.13 4.6-2.6c-.02-.08-.05-.15-.05-.23a1 1 0 0 1 1.7-.71l2.26-1.29a1 1 0 0 1-.96-.98 1 1 0 0 1 1-1 1 1 0 0 1 1 1c0 .17-.05.32-.13.47l6.4-3.63 3.94-2.25a.97.97 0 0 1-.2-.56 1 1 0 0 1 1.91-.4l1.98-1.13-7.64-4.32-.32.19c-.13.4-.49.69-.93.69-.08 0-.14-.03-.2-.04l-2.21 1.25c.24.18.4.45.4.78a1 1 0 0 1-1 .99.99.99 0 0 1-.97-.88l-10.06 5.71.02.14a1 1 0 0 1-1 1 1 1 0 0 1-1-1c0-.21.08-.4.2-.56l-10.34-5.87c.08.14.13.3.13.47a1 1 0 0 1-1 1 1 1 0 0 1-1-1 1 1 0 0 1 .96-.99l-2.27-1.28a1 1 0 0 1-1.58-.29zm39.27 6.63l-15.81 8.97-15.82-8.97-7.64 4.3 23.46 13.32 23.45-13.31z"/></defs><g><g transform="translate(-676 -1100)"><use xlink:href="#5ld3a"/></g></g></svg>');
      display: block;
      float: left;
      margin-right: 35px;
    }
  }

  &__item_img2 {
    &:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53" height="62" viewBox="0 0 53 62"><defs><path id="eok6a" d="M699.78 1220.82v3.13c0 .51-.4.93-.92.93a.92.92 0 0 1-.92-.93v-3.13c0-.52.42-.93.92-.93.51 0 .92.41.92.93zm5.13 4.04v5.2c0 .5-.41.92-.92.92a.92.92 0 0 1-.92-.93v-5.2c0-.5.41-.92.92-.92.5 0 .92.42.92.93zm20.68 11.6c-.3.35-.74.54-1.2.54H678.6c-.47 0-.92-.2-1.22-.57-.3-.37-.44-.85-.36-1.33a5.65 5.65 0 0 1 5.38-4.73 8.9 8.9 0 0 1 6.85-3.26c1.7 0 3.31.48 4.71 1.37v-10.87a12.48 12.48 0 0 1-14.64-12.4c0-1.63.3-3.2.9-4.69a12.3 12.3 0 0 1-1.76-6.35 12.23 12.23 0 0 1 14.14-12.1 12.08 12.08 0 0 1 18.09 0 12.23 12.23 0 0 1 14.14 12.11c0 2.25-.61 4.43-1.76 6.34a12.55 12.55 0 0 1-11.59 17.27h-2.16v7.74a10.3 10.3 0 0 1 5.79 2.4h2.86a8.07 8.07 0 0 1 8.02 7.27c.05.46-.1.92-.4 1.27zm-29.07-21.63c.2-.1.44-.12.66-.06a15.85 15.85 0 0 0 8.93 0 .91.91 0 0 1 .66.06c1.47.74 3.06 1.1 4.71 1.1a10.7 10.7 0 0 0 10.64-10.73c0-1.52-.3-3-.92-4.38a.93.93 0 0 1 .07-.9c1.12-1.7 1.71-3.7 1.71-5.75a10.38 10.38 0 0 0-12.46-10.19.92.92 0 0 1-.9-.32 10.26 10.26 0 0 0-15.96 0 .92.92 0 0 1-.9.32 10.31 10.31 0 0 0-12.46 10.2c0 2.05.6 4.04 1.72 5.74.17.27.2.6.07.9a10.73 10.73 0 0 0-.93 4.38 10.7 10.7 0 0 0 10.64 10.74c1.66 0 3.24-.37 4.72-1.1zm-17.63 20.31zm0 0h21.98a4.93 4.93 0 0 0-5.86-3.9.92.92 0 0 1-.84-.25 6.97 6.97 0 0 0-10.58.87.92.92 0 0 1-.8.37h-.2a3.8 3.8 0 0 0-3.7 2.91zm28.6 0v-18c-.41-.14-.82-.3-1.21-.49a17.68 17.68 0 0 1-9.27 0c-.4.18-.8.34-1.2.48v12.14h.24c3.4 0 6.23 2.56 6.68 5.87zm1.83 0h14.81a6.22 6.22 0 0 0-8.48-4.9.91.91 0 0 1-1.01-.21 8.54 8.54 0 0 0-5.32-2.63z"/></defs><g><g transform="translate(-675 -1176)"><use xlink:href="#eok6a"/></g></g></svg>');
      display: block;
      float: left;
      margin-right: 35px;
    }
  }

  &__items-type2 {
    margin-right: 0;
    counter-reset: li;
    padding-left: 25px;
  }

  &__item {
    counter-increment: li;
    padding-left: 30px;
    margin-bottom: 15px;
    position: relative;
    &:before {
      content: counter(li);
      display: block;
      width: 34px;
      height: 34px;
      border: 2px solid #484848;
      border-radius: 50%;
      text-align: center;
      line-height: 34px;
      color: #484848;
      font-size: 20px;
      font-weight: 400;
      position: absolute;
      left: -25px;
    }
  }
}

.review{
  color: #484848;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  padding: 37px 25px;
  &__name{
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  &__dop-info{
    color: #8a8a8a;
  }
  &__data{
    color: #8a8a8a;
    margin-bottom: 10px;
    display: block;
  }
  &__reyt{
    width: 76px;
    height: 15px;
    background: url("/img/reyt.png") no-repeat;
    margin-bottom: 10px;
  }
  @for $i from 0 through 4 {
    $length: 15px*$i;
    .review__reyt_#{$i} {
      width: $length;
    }
  }
  &__text{
    margin-bottom: 21px;
  }
  &__href{
    display: inline-block;
    color: #eb5825;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px dashed #eb5825;
    margin-bottom: 50px;
    margin-left: 20px;
    position: relative;
    transition: all .4s;
    &:hover{
      opacity: .5;
    }
    &:before{
      content: "";
      width: 13px;
      height: 13px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -19px;
      margin: auto;
      background: url(/img/more.png) no-repeat;
    }
  }
  &__button{
    padding: 12px 24px ;
    font-size: 16px;
  }
}
